/* global start */
:root {
    --primaryColor: #ff6a48;
}
body {
    height: 2000px;
}
* {
    box-sizing: border-box;
    font-family: '微軟正黑體';
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
img {
    margin: 0;
    padding: 0;
    border: 0;
}

ul {
    padding: 0;
    margin: 0;
}
/* grid for desktop  */
.container {
    width: 100%;
}

.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: calc(100% / 12 * 12);
}
[class*='col'] {
    float: left;
    padding: 20px;
}
.nopa {
    padding: 0 !important;
}

.no {
    margin: 0 -15px;
}

/* nav */
nav {
    width: 100vw;
    padding-top: 20px;
}
nav ul {
    list-style: none; /* 移除項目符號 */
    margin: 0;
    padding: 0;
}
nav a {
    color: inherit; /* 移除超連結顏色 */
    display: block; /* 讓 <a> 填滿 <li> */
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none; /* 移除超連結底線 */
    position: relative;
    font-family: 'Orbitron', sans-serif;
}

/* 滑鼠移到 <a> 時變成深底淺色 */
nav a:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #000000;
    transition: 0.4s;
}
nav a:hover:after {
    width: 100%;
}
.float-nav li {
    float: right;
    position: relative;
    right: 10%;
    padding-left: 30px;
}
.float-nav a {
    padding-right: 30px;
}
.float-nav li:first-child {
    float: left;
    left: 10%;
}
/* button */
.fas {
    font-size: 30px;
    color: white;
}
#hambugertoggle {
    background-color: rgb(230, 230, 230);
    margin-top: 20px;
}

#menu {
    display: none;
}
#menu a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
}
#menu li {
    text-align: center;
    margin-top: 20px;
}
#menu li:hover {
    background-color: rgb(115, 115, 115);
    color: white;
}
/* carousel */
.carousel {
    margin-top: 20px;
    width: 100%;
    height: 30%;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}
.carousel .container1 {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    display: flex;
    /* 過渡時間1S */
    transition: all 1s;
}

.carousel .container1 img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
}
.carousel .shift .btn {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    border-color: rgba(0, 0, 0, 0);
    width: 60px;
    height: 100%;
    border-radius: 8px;
    font-size: 80px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    user-select: none;
}

.carousel .shift .left {
    left: 20px;
}
.carousel .shift .right {
    right: 20px;
}
.carousel .bottom {
    position: absolute;
    bottom: 20px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    width: max-content;
    display: flex;
    gap: 10px;
}
.carousel .bottom .indicator {
    height: 8px;
    width: 60px;
    background-color: white;
    cursor: pointer;
}
.col-3 {
    overflow: hidden;
}
.col-3 img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
}
@media only screen and (max-width: 790px) {
    nav {
        display: none;
    }
}
@media only screen and (min-width: 790px) {
    #hambugertoggle {
        display: none;
    }
}
